@model EtherealMadeFin.Models.ProductCategoryListingModel
    <link rel="stylesheet" href="~/css/homeOne1.2.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel="stylesheet" href="~/css/shopindexstyle.css">


@*
<section class="container">
    <div class="page-header">
        <h1>products<br></h1>
    </div>
    <div class="row active-with-click " style="margin: auto">
        @foreach (var category in Model.Categories)
        {

            <div class="col-md-3 col-sm-6 col-xs-12 res">
                <article class="material-card Red">
                    <h2>
                        <a style="text-decoration: none" asp-controller="Home" asp-action="ProductsByCategory" asp-route-id="@category.CategoryId">
                            <span>@category.CategoryTitle</span>
                            <strong>
                                @category.CategoryDescription
                            </strong>
                        </a>
                    </h2>
                    <div class="mc-content">
                        <div class="img-container">
                            <img class="img-responsive" src="@category.CategoryImageUrl">
                        </div>
                        <div class="mc-description">
                            @category.CategoryExtraDescription
                        </div>
                    </div>


                </article>
            </div>
        }
    </div>
</section>
    
*@

<div class=" line2">
    <div class="lines text-item ">
        <h2 class="Mypage-title">Categories</h2>
        <h2 class="Mypage-subtitle">Sleep</h2>
        <section class="overflow-hidden position-relative sec-need">

            <div class="container font_pitch">

                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-4 ">
                        <a asp-controller="Home" asp-action="ProductsByCategory" style="text-decoration: none">
                            <div class="card__grup overflow-hidden position-relative p-3 mr-r">
                                <img src="https://i.ibb.co/5KW0d6L/1.jpg" href="./categoriesindex.html">
                                <div class="position-relative">
                                    <h5 class="uppercase__font">Headteam</h5>
                                    <div class="  mb-3 opacity-8 ls-2 fw-4">how to work well together in a team</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mr-r">
                        <div class="card__grup overflow-hidden position-relative p-3">
                            <img src="https://i.ibb.co/2tGk4J6/2.jpg" alt="">
                            <div class="position-relative">
                                <h5 class="uppercase__font">position</h5>
                                <div class="  mb-3 opacity-8 ls-2 fw-5">how to work well how to work well together in a team together in a team</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mr-r">
                        <div class="card__grup overflow-hidden position-relative p-3">
                            <img src="https://i.ibb.co/f8hD4pQ/3.jpg" alt="">
                            <div class="position-relative">
                                <h5 class="uppercase__font">inti.com</h5>
                                <div class="  mb-3 opacity-8 ls-2 fw-5">how to work well how to work well together in a team together in a team</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-4 mr-r">
                        <div class="card__grup overflow-hidden position-relative p-3">
                            <img src="https://i.ibb.co/CQX6K3z/5.jpg" alt="">
                            <div class="position-relative">
                                <h5 class="uppercase__font">Real.com</h5>
                                <div class="  mb-3 opacity-8 ls-2 fw-5">how to work well together in a team</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 mb-4 mr-r">
                        <div class="card__grup overflow-hidden position-relative p-3">
                            <img src="https://i.ibb.co/CQX6K3z/5.jpg" alt="">
                            <div class="position-relative">
                                <h5 class="uppercase__font">Headteam</h5>
                                <div class="  mb-3 opacity-8 ls-2 fw-5">how to work well together in a team</div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        </section>
        <h2 class="Mypage-subtitle">DanceTop</h2>
        <section class="overflow-hidden position-relative sec-need">

            <div class="container font_pitch">

                <div class="row">
                    <div class="col-md-6 col-lg-4 mb-4 mr-r">
                        <div class="card__grup overflow-hidden position-relative p-3">
                            <img src="https://i.ibb.co/5KW0d6L/1.jpg" alt="">
                            <div class="position-relative">
                                <h5 class="uppercase__font">Headteam</h5>
                                <div class="  mb-3 opacity-8 ls-2 fw-4">how to work well together in a team</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mr-r">
                        <div class="card__grup overflow-hidden position-relative p-3">
                            <img src="https://i.ibb.co/2tGk4J6/2.jpg" alt="">
                            <div class="position-relative">
                                <h5 class="uppercase__font">position</h5>
                                <div class="  mb-3 opacity-8 ls-2 fw-5">how to work well how to work well together in a team together in a team</div>
                            </div>
                        </div>
                    </div>
                </div>

        </section>

        <section class="page-container" id="intro">
            <div class=" section" id="services">
                <p class="foot-text">EXPLORE OUR PRODUCTS</p>
                <h2 class=" last-text">Shop</h2>
                <div class="item item-first ">
                    <div>
                        <p>© 2020 All Rights Reserved. Helias Oils</p>
                    </div>
                </div>
        </section>
    </div>
</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.0/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/popper.min.js'></script>

